*.zip
*.tar.gz
*.tar.bz2
*.tar.xz

node_modules/
dist/
build/
coverage/
*.log
*.lock
*.swp
*.swo
*.pid
*.out
*.cache
*.sqlite
*.sqlite-journal
*.min.js
*.min.css
*.min.map
*.min.ts
*.min.tsx
*.min.jsx